.mesto__like_type_heart{
    width: 22px;
    height: 19px;
    border: 0;
    padding: 0;
    background-color: #fff;
    background-image: url(../../../../../images/like.svg);
}

.mesto__like_type_heart:hover{
    opacity: .6;
    cursor: pointer;
}