.footer__text{
    color: #545454;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width: 320px){
    .footer__text{
        font-size: 14px;
        line-height: 17px;
        padding-left: 19px;
    }
}