.profile__change-icon{
    opacity: 0;
    width: 120px;
    height: 120px;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top:0;
    left: 0;
    background-image: url(../../../images/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.profile__change-icon:hover{
    opacity: 1;
}